/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #fbfbfb;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul[class] {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Poppins normal, medium, bold fonts */
@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/poppins-350.woff2) format("woff2"), url(./assets/fonts/poppins-400.woff) format("woff"),
    url(./assets/fonts/poppins-400.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Poppins Semi";
  src: url(./assets/fonts/poppins-500.woff2) format("woff2"), url(./assets/fonts/poppins-500.woff) format("woff"),
    url(./assets/fonts/poppins-500.ttf) format("truetype");
  font-style: normal;
  font-weight: medium;
}
@font-face {
  font-family: "Poppins Bold";
  src: url(./assets/fonts/poppins-700.woff2) format("woff2"), url(./assets/fonts/poppins-700.woff) format("woff"),
    url(./assets/fonts/poppins-700.ttf) format("truetype");
  font-style: normal;
  font-weight: bold;
}
/* Roboto normal font */
@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/roboto-400.woff2) format("woff2"), url(./assets/fonts/roboto-400.woff) format("woff"),
    url(./assets/fonts/roboto-400.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* CSS Variables */
:root {
  --clr-grey: #8d8d8d;
  --clr-white: #fff;
  --clr-black: #000;

  --ff-roboto: "Roboto", sans-serif;

  --ff-poppins: "Poppins", serif;
  --ff-poppins-semi: "Poppins Semi", serif;
  --ff-poppins-bold: "Poppins Bold", serif;
}

/* colors */
.bg-dark {
  background-color: var(--clr-black);
}
.bg-grey {
  background-color: var(--clr-grey);
}
.bg-white {
  background-color: var(--clr-white);
}

.text-dark {
  color: var(--clr-black);
}
.text-grey {
  color: var(--clr-grey);
}
.text-white {
  color: var(--clr-white);
}

/* typography */
.ff-roboto {
  font-family: var(--ff-roboto);
}
.ff-poppins {
  font-family: var(--ff-poppins);
}
.ff-poppins-md {
  font-family: var(--ff-poppins-semi);
}
.ff-poppins-bold {
  font-family: var(--ff-poppins-bold);
}

/* Logo */
.logo {
  cursor: pointer;
}

/* Desktop Navigation Bar */
.mobile_nav {
  display: none;
}
.navbar {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1.5rem 4rem;
  display: flex;
  justify-content: space-between;
}
.navbar_list {
  display: flex;
  gap: 3rem;
  color: #1f1f1f;
}
.navbar_listli:not([class]):hover {
  cursor: pointer;
  color: #000;
  text-decoration: 2px solid underline black;
  text-underline-position: under;
  text-underline-offset: 6px;
}

.usericon,
.carticon {
  cursor: pointer;
}

header {
  text-align: center;
  margin-block: 2em;
  & h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
  }
}

main {
  max-width: 1200px;
  height: 670px;
  margin: 0 auto;
  display: flex;
  border-radius: 12px;
  justify-content: space-between;
}

aside {
  width: 45%;
  margin: 1em;
  padding: 2.5em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact_data {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.contact_data div {
  display: flex;
  gap: 0.5rem;
  & a:hover {
    color: var(--clr-grey);
  }
}

.contact_title h2 {
  font-size: 1.75rem;
}

.contact_title p {
  font-size: 1.2rem;
}

.form {
  padding-top: 1rem;
  margin: 3em;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form_data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3em;
}

.form_data div {
  display: flex;
  flex-direction: column;
  &:after {
    content: "";
    margin-top: 5px;
    border-bottom: 2px solid var(--clr-grey);
  }
}

.form_input {
  all: unset;
}

.form_subject {
  & div {
    display: flex;
    margin: 0.5rem auto;
  }
}

input[type="checkbox"] {
  margin-right: 5px;
  cursor: pointer;
}

.check label {
  cursor: pointer;
  user-select: none;
}

.form_message {
  display: flex;
  flex-direction: column;
  &:after {
    content: "";
    margin-top: 5px;
    border-bottom: 2px solid var(--clr-grey);
  }
  & input {
    all: unset;
  }
}

.form_button_container {
  display: flex;
  justify-content: flex-end;

  & div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
  }
}

.form_button {
  margin-bottom: 4.3rem;
  width: 13em;
  background-color: var(--clr-black);
  color: var(--clr-white);
  border: none;
  padding: 1em;
  border-radius: 0.25em;
  cursor: pointer;
  z-index: 1;
}

.letter_img {
  position: absolute;
  height: 180px;
  margin-right: 6rem;
  margin-top: 1.5rem;
}

.social_media {
  display: flex;
  gap: 1rem;
}

.social_media li {
  cursor: pointer;
  border-radius: 50%;
  display: grid;
  place-content: center;
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #343434;

  &:hover {
    background-color: #fff;
    color: #343434;
  }
}

/* TODO add media query at 1000px */

@media (width < 900px) {
  main {
    margin: 0.4rem;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  aside {
    width: 95%;
    align-items: center;
    text-align: center;
    gap: 3em;
  }

  .contact_data {
    align-items: center;
  }

  .contact_data > div {
    flex-direction: column;
    align-items: center;
  }

  .contact_data div a {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .contact_title p {
    font-size: 1em;
  }

  .form {
    width: 90%;
    padding-top: 0;
    gap: 3em;
  }
  .form_data {
    grid-template-columns: 1fr;
  }

  .form_subject > div {
    flex-wrap: wrap;
    gap: 1em;
  }
  .check {
    margin-block: 5em;
  }
  .navbar_list {
    display: none;
  }
  .mobile_nav {
    display: block;
  }
}
